
body {
    background: #F5F5F5;
    margin: 0% 20%; /* to be replaced */
    font-family: 'Nunito', 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: #778899;
    color: #F5F5F5;
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: center; /* center horizontally */
    align-items: center; /* center vertically */
}
h1, header img{
    display: inline-block; /* title and logo on the same line */
    vertical-align: middle; /* center vertically the logo */
}

header img { 
    width: 50px;
    margin-left: 10px;
}
nav {
    display: inline;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    padding: 20px 20px;
}

a {
    text-decoration: none;
}

nav a:visited, nav a:link, nav a:active {
    color: #F5F5F5;
}

nav a:hover{
    color: #333c44;
}

section, header{
    margin-bottom: 40px;
}

#best_title > div {
    color: #F5F5F5;;
    width: auto; /* full width */
    background-color: #333c44;
    border: 2px solid #555;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#best_title > div > div {
    padding: 20px;
}
#best_title > div > img {
    margin: auto; /* center horizontally */
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.slideshow {
    min-width: 840px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}
.clickable {
    text-align: center; /* horizontal center */
}

.arrow {
    display: block;
    margin: auto;
    padding: 40%;
    background-color: #778899;
    color: white;
    font-size: 180%;
}

.arrow:hover {
    background-color: black;
}

.slideshow img:hover, #best_title img:hover {
    opacity: 0.5;
}

h2 {
    padding: 20px;
    text-align: center; /* center horizontally titles */
}

 /* The Modal (background) --------------------------------------*/
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .btn {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding:  15px 20px;
  }
  
  .btn:hover {
    background-color: black;
  } 