
body {
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    width: 1000px;
    margin: auto;
}
a {
    text-decoration: none;
    color: pink;
}
a:hover{
    color: aqua;
}
.container {
    display: grid;
    border: 1px solid violet;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-row: 1; */
}

.slideshow {
    border : 1px solid yellow;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.arrow {
    display: block;
    /* width: 20px; */
}

h1 {
    opacity: 0.5;
    border: 2px double orange;
    text-align: center;
    border-radius: 10%;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
    width: 200px;
    padding: 15px;
}
img:hover {
    opacity: 0.5;
}
img:hover + .category {
    color: greenyellow;
    outline-color: #2ebf91;
    border-color: purple;
}
h2 {
    border-left: 2px solid blueviolet;
    padding: 10px;
    background-color: pink;
    width: 250px;
    text-align: center;
    margin: auto;
}
.category{
    border-bottom: 2px solid gray;
}
p mark {color: purple}
p {color: green;}
.special {
    color: pink;
    font-size: large;
}

.description {
    display: none;
}

 /* The Modal (background) --------------------------------------*/
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 